#container-input{
	margin: 20px 0;
	max-width: 800px;
}

#secondary-input{
	display: flex;
}

#secondary-input p{
	margin-left: auto;
	padding-left: 20px;
}

.single-domain{
	display: flex;
	align-items: center;
}

.single-domain p{
	margin: 0;
	padding: 10px 40px;
}

.domain-remove{
	margin-left: auto;
}

#domains-box{
	margin-bottom: 40px;
}

#transactions{
	margin: 40px;
}

.info {
	font-size: 0.8em;
}

#register-info{
	display: flex;
	margin: 20px;
}

.register-block{
	display: flex;
}

.number {
	margin-right: 20px;
}

.number p {
	border: 1px solid white;
	height:50px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:50px;
}
.register-description{
	max-width: 25em;
	text-align: left;
	font-size: 0.8em;
}

.footer{
  width: 100%;
  padding: 20px;
  background-color: #212529;
  color: white;
  text-align: center;
}
