#container-input{
	margin: 20px 0;
	max-width: 800px;
}

#secondary-input{
	display: flex;
}

#secondary-input p{
	margin-left: auto;
	padding-left: 20px;
}

.single-domain{
	display: flex;
	align-items: center;
}

.single-domain p{
	margin: 0;
	padding: 10px 40px;
}

.domain-remove{
	margin-left: auto;
}

#domains-box{
	margin-bottom: 40px;
}

#transactions{
	margin: 40px;
}

.info {
	font-size: 0.8em;
}

.footer{
  width: 100%;
  padding: 20px;
  background-color: #212529;
  color: white;
  text-align: center;
}
